<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Auto deployment is working!</p>
    <p>Now it is for sure!</p>
    <p>Now it is for sure x2!</p>
    <p>Now it is for sure x3!</p>
    <p>Now it is for sure x4!</p>
    <p id="future"></p>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            var arr = window.location.href.split("/");
            var site_url = arr[0] + "//" + arr[2];
            console.info("site_url",site_url);

            var socket = io.connect(site_url);
            socket.on('connect', function(data) {
                socket.emit('join', 'Hello World from client');
            });
            socket.on('messages', function(data) {
                $('#future').append(data+ "<br/>");
            });
            socket.on('broad', function(data) {
                $('#future').append(data+ "<br/>");
            });

        });


    </script>
  </body>
</html>
